# will have compiled files and executables
/target/
/gen/schemas
# Node
node_modules/
dist/
out/

# Tauri
src-tauri/target/
src-tauri/.cargo/
src-tauri/gen/
src-tauri/bundled/

# Python venv
venv/
.venv/

# Logs
logs/
*.log
npm-debug.log*

# System
.DS_Store
Thumbs.db